/* CSS Styles for Navbar */
.navbar {
    padding: 20px 0;
  }

  .main-logo {
    margin: 0 0.5rem;
    }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px;
    padding: 8px 16px;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  /* .navbar-toggler-icon {
    background-color: #333;
  } */
  
  @media (max-width: 767px) {
    .navbar-nav .nav-link {
      padding: 8px 10px;
    }
  }


/* CSS Styles for About Us Page */
.about-section {
    padding: 9rem 0 1rem 0;
    text-align: center;
  }

  .section-title {
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
  }

  .about-description {
    font-size: 18px;
    color: #777;
    margin-bottom: 60px;
    line-height: 1.6;
    text-align: justify;
  }

  .about-para {
    text-align: justify;
  }

  .shop-info {
    margin-bottom: 60px;
  }

  .shop-info h3 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .shop-info p {
    color: #777;
    margin-bottom: 10px;
  }

  .testimonial-section {
    padding: 80px 0;
    background-color: #f8f8f8;
  }

  .testimonial-section .testimonial {
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 30px;
  }

  .testimonial-section .testimonial p {
    color: #777;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .testimonial-section .testimonial .testimonial-author {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .about-description {
      font-size: 16px;
    }

    .shop-info h3 {
      font-size: 20px;
    }

    .testimonial-section .testimonial {
      padding: 20px;
    }
  }

    /* CSS Styles for Footer */
.footer {
    background-color: #f8f8f8;
    padding: 40px 0;
  }
  
  .footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .footer-text {
    color: #666;
  }
  
  .footer-contact li {
    color: #666;
    margin-bottom: 10px;
  }
  
  .footer-contact i {
    margin-right: 10px;
  }
  
  .footer-social a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #333;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }


  .brands-section {
    padding: 0 0 80px 0;
    text-align: center;
  }

  .section-title {
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
  }

  .brand-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .brand-logo {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-bottom: 20px;
  }

  .brand-logo img {
    max-width: 80%;
    height: auto;
  }

  /* Responsive Styles */
  @media (max-width: 1200px) {
    .brand-logo {
      flex: 0 0 calc(33.33% - 20px);
      max-width: calc(33.33% - 20px);
    }
  }

  @media (max-width: 768px) {
    .brand-logo {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
    .shop-info{
      display: none;
    }
  }

  @media (max-width: 576px) {
    .brand-logo {
      flex: 0 0 calc(100% - 20px);
      max-width: calc(100% - 20px);
    }
  }